.about-info {
  @include suisse-med;
  display: inline-block;
  color: var(--dark);
}

.about-info__arrow {
  svg {
    display: inline-block;
    width: 100%;
    height: 100%;

    @media (min-width: $br4) {
      width: size(18, 10);
      height: size(18, 10);
    }

    @media (max-width: $br4) {
      width: 10px;
      height: 10px;
    }
  }
}
