.about-info {
  @include suisse-med;
  color: var(--dark);
  display: flex;
  align-items: baseline;
  column-gap: vw(12);
}

.about-info__arrow {
  width: vw(18);
  height: vw(18);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
