.footer {
  padding-bottom: vw(40);

  @media (max-width: $br1) {
    padding-bottom: 20px;
  }
}

.footer__title {
  @include suisse-med;
  font-size: vw(48);
  display: flex;
  align-items: baseline;
  column-gap: vw(14);

  @media (max-width: $br1) {
    font-size: size(48, 24);
    column-gap: 8px;
  }

  @media (max-width: $br4) {
    font-size: 24px;
  }
}

.footer__arrow {
  width: vw(24);
  height: vw(24);

  @media (max-width: $br1) {
    width: 18px;
    height: 18px;
  }

  @media (max-width: $br3) {
    width: 16px;
    height: 16px;
  }

  @media (max-width: $br4) {
    width: 12px;
    height: 12px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;

    path {
      fill: var(--white);
    }
  }
}

.footer__btn {
  margin-top: vw(134);

  @media (max-width: $br1) {
    margin-top: 124px;
  }

  .button__text {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);

    @media (max-width: $br1) {
      font-size: size(20, 16);
    }

    @media (max-width: $br4) {
      font-size: 16px;
    }
  }

  .button__arrow {
    background-color: transparent;
    border: 2px solid var(--white);

    svg {
      path {
        fill: var(--white);
      }
    }
  }
}

.footer__content {
  position: relative;
  margin-top: vw(252);

  @media (max-width: $br1) {
    margin-top: 160px;
  }
}

.footer__about {
  @include col(1, 4);
  @include suisse-small;
  font-size: vw(20);

  @media (max-width: $br1) {
    @include col(1, 6);
    font-size: size(20, 12);
  }

  @media (max-width: $br4) {
    font-size: 12px;
    @include col(1, 3);
  }
}

.footer__nav-menu {
  @include col(7, 8);
  @include suisse-small;
  font-size: vw(20);
  display: flex;
  flex-direction: column;

  @media (max-width: $br1) {
    display: none;
  }
}

.footer__socials-menu {
  @include col(10, 11);
  @include suisse-small;
  font-size: vw(20);

  @media (max-width: $br1) {
    @include col(12, 12);
    font-size: size(20, 12);
  }

  @media (max-width: $br4) {
    font-size: 12px;
    @include col(4, 4);
  }
}

.footer__text-info {
  @include suisse-small;
  font-size: vw(16);
  color: #1a1a1a;
  position: absolute;
  right: vw(120);
  top: vw(104);

  @media (max-width: $br1) {
    display: none;
  }
}
