.home-3 {
  position: relative;

  @media (min-width: $br1) {
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    overflow: hidden;
  }
}

.home-3__bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $br1) {
    position: absolute;
    top: 0;
    left: 0;
    object-position: center;
  }
}
