.home-1 {
  height: 100vh;
  width: 100%;
}

.home-1__bg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.home-1__wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  @media (max-width: $br1) {
    display: flex;
    align-items: flex-end;
    bottom: 36px;
  }
}

.home-1__title {
  @include h1;

  @media (min-width: $br1) {
    position: absolute;
    bottom: vw(96);
    left: vw(64);
    max-width: vw(672);
  }

  @media (max-width: $br1) {
    max-width: 80%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.home-1__underline-text {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: vw(0);
    width: 100%;
    height: vw(4);
    background-color: var(--white);

    @media (max-width: $br1) {
      bottom: -6px;
      height: 2px;
    }
  }
}
