.home-8 {
  padding-top: vw(192);

  @media (max-width: $br1) {
    padding-top: 78px;
  }
}

.home-8__content {
  align-items: center;
  margin-top: vw(100);

  @media (max-width: $br1) {
    margin-top: 90px;
  }
}

.home-8__left-block {
  @include col(1, 6);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.home-8__img {
  display: block;
  width: vw(576);
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  border-radius: 66px;

  @media (max-width: $br1) {
    width: 100%;
  }
}

.home-8__right-block {
  @include col(8, 12);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.home-8__radio[type='radio'] {
  display: none;
}

.home-8__radio[type='radio']:checked {
  + .home-8__text {
    color: var(--white);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: vw(-64);
      top: 0;
      bottom: 0;
      margin: auto 0;
      display: block;
      width: vw(36);
      height: vw(36);
      background: url('/right-arrow.svg');
      background-repeat: no-repeat;
      background-size: 100%;

      @media (max-width: $br1) {
        left: -28px;
        width: 22px;
        height: 22px;
      }

      @media (max-width: $br3) {
        left: -24px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.home-8__text {
  @include suisse-med;
  font-size: vw(48);
  color: var(--dark);
  cursor: pointer;

  @media (max-width: $br1) {
    margin-left: 20px;
    font-size: size(48, 24);
  }

  @media (max-width: $br4) {
    font-size: 24px;
  }
}

.home-8__info {
  display: none;

  &--active {
    display: block;
  }
}

.home-8__main-text {
  @include suisse-med;
  margin-top: vw(50);
  max-width: vw(424);

  @media (max-width: $br1) {
    margin-top: 10px;
    max-width: 70%;
  }

  @media (max-width: $br3) {
    max-width: 100%;
  }
}

.home-8__subtext {
  @include suisse-small;
  margin-top: vw(40);
  color: var(--grey);
  max-width: vw(456);

  @media (max-width: $br1) {
    font-size: size(24, 14);
    margin-top: 20px;
    max-width: 70%;
  }

  @media (max-width: $br3) {
    font-size: 14px;
    max-width: 100%;
  }
}

.home-8__blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: vw(8);
  margin-top: vw(40);
  margin-left: vw(20);

  @media (max-width: $br1) {
    margin-top: 20px;
    margin-left: 0;
    gap: 8px;
  }
}

.home-8__block-name {
  @include mono-small;
  background: rgba(247, 248, 248, 0.05);
  border: 0.5px solid rgba(51, 51, 51, 0.25);
  box-shadow: 0px 1px 2px #666666;
  backdrop-filter: blur(15px);
  border-radius: 50px;
  padding: vw(6) vw(8);
  color: var(--grey);

  @media (max-width: $br1) {
    padding: 6px;
  }
}
