.home-5 {
  padding-top: vw(95);
  padding-bottom: vw(95);
}

.home-5__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-5__img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: vw(768);
}
