.home-2 {
  padding-top: vw(130);
  padding-bottom: vw(212);
}

.home-2__wrapper {
  max-width: vw(880);
}

.home-2__about-text {
  @include suisse-small;

  .about-info__arrow {
    width: vw(15);
    height: vw(15);
  }
}

.home-2__text {
  @include suisse-med;
  margin-top: vw(96);
}

.home-2__underline-text {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: vw(3);
    width: 100%;
    height: vw(2);
    background-color: var(--white);
  }
}
