.home-8 {
  padding-top: 192px;

  @media (max-width: $br1) {
    padding-top: 78px;
  }
}

.home-8__content {
  align-items: center;
  margin-top: 100px;

  @media (max-width: $br1) {
    margin-top: 90px;
  }
}

.home-8__left-block {
  @include col(1, 6);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.home-8__img {
  display: block;
  width: 576px;
  max-width: 100%;
  height: 100%;
  margin: auto;

  @media (max-width: $br1) {
    display: none;
  }
}

.home-8__mobile-img {
  @media (min-width: $br1) {
    display: none;
  }

  @media (max-width: $br1) {
    display: block;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    width: 100%;
    margin-top: 10px;
  }
}

.home-8__right-block {
  @include col(8, 12);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.home-8__text {
  @include suisse-med;
  position: relative;
  color: var(--dark);
  font-size: 48px;

  svg {
    display: block;
    position: absolute;
    // left: vw(-34);
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 26px;
    height: 26px;
    opacity: 0;

    @media (max-width: $br1) {
      width: 16px;
      height: 16px;
      left: -24px;
    }

    path {
      fill: var(--dark);
    }
  }

  @media (max-width: $br1) {
    font-size: 24px;
    margin-left: 20px;
  }

  &--active {
    color: var(--white);

    svg {
      opacity: 1;
      path {
        fill: var(--white);
      }
    }
  }
}

.home-8__info {
  display: none;

  &--active {
    display: block;
  }
}

.home-8__main-text {
  @include suisse-med;
  margin-top: 50px;
  max-width: 424px;

  @media (max-width: $br1) {
    margin-top: 10px;
    max-width: 70%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.home-8__subtext {
  @include suisse-small;
  margin-top: 40px;
  color: var(--grey);
  max-width: 460px;
  font-size: 24px;

  @media (max-width: $br1) {
    font-size: 14px;
    margin-top: 20px;
    max-width: 70%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.home-8__underline-text {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
  }
}

.home-8__blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  max-width: 440px;

  @media (max-width: $br1) {
    margin-top: 20px;
    gap: 8px;
  }
}

.home-8__block-name {
  @include mono-small;
  background: rgba(247, 248, 248, 0.05);
  border: 0.5px solid rgba(51, 51, 51, 0.25);
  box-shadow: 0px 1px 2px #666666;
  backdrop-filter: blur(15px);
  border-radius: 50px;
  padding: 6px 8px;
  color: var(--grey);
  width: fit-content;

  @media (max-width: $br1) {
    padding: 6px 6px;
  }
}
